name: CI - Phase 1

on:
  push:
    branches: [ main, develop ]
#  pull_request:
#    branch: [ main ]  # main으로 PR 생성 시

jobs:
  build:
    runs-on: ubuntu-latest # 우분투 최신 버전 가상 서버 사용

    steps:
      # main으로 PR 생성 시
      - name: Checkout code       # 코드 가져오기
        uses: actions/checkout@v4 # Github 코드 다운로드
      # Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4 # java 설치
        with:
          java-version: '17'
          distribution: 'temurin'
      # Gradle 빌드
      - name: Build with Gradle
#        run: ./gradlew build -x test # 테스트 제외 빌드
        run: ./gradlew build  # 테스트 포함 빌드

      # Gralde 캐싱 추가(속도 향상)
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/cache
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}

      # 테스트 결과 업로드
      - name: Upload test results
        if: always() # 실패해도 실행
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: build/test-results/test/
