name: CI - Phase 1

on:
  push:
    branch: [ main, develop ]
#  pull_request:
#    branch: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code       # 코드 가져오기
        uses: actions/checkout@v4

      - name: Set up JDK 17       # Java 17
        uses: actions/checkout@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build -x test # 테스트 제외하고 빌드만



