name: CI - Phase 3 (Backend + Frontend)
on:
  push:
    branches: [ main, develop ]
    paths:
      - 'src/**'        # Java 소스 코드
      - '*.gradle*'     # build.gradle, settings.gradle
      - 'gradle/**'     # Gradle wrapper
      - 'frontend/**'   # 프론트엔드

#  pull_request:
#    branch: [ main ]  # main으로 PR 생성 시

jobs:
  backend:
    runs-on: ubuntu-22.04 # 프로덕션 워크폴로우(버전 고정 -> 안정적)

    steps:
      # main으로 PR 생성 시
      - name: Checkout code       # 코드 가져오기
        uses: actions/checkout@v4 # Github 코드 다운로드
#        with:
#           submodules: recursive           # 중첩 서브모듈까지
#           lfs: true                       # Git LFS 파일 다운로드
#           token: ${{ secrets.PAT_TOKEN }} # Private 서브모듈용
      # Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v4 # java 설치
        with:
          java-version: '17'
          distribution: 'temurin'


      # Gralde 캐싱 추가(속도 향상)
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          # 이게 캐싱의 핵심 !!
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ github.sha }}
          # 정확한 key 매칭 시도 cahce hit!
          # 실패 시 restore-keys 순서대로 prefix 매칭
          # 부분 매칭된 캐시 복원 -> 빌드 -> 새 key로 저장
          # restore-keys: 정확한 key 매칭 실패 시 prefix 매칭 시도
          # - 첫 번째: 같은 gradle 파일, 다른 커밋 → ~95% 재사용
          # - 두 번째: OS만 같음 → ~70% 재사용
          restore-keys: |
            gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-
            gradle-${{ runner.os }}-

#      # 고급 Gradle 캐싱 -> 위와 무슨 차이?
#      - name: Setup Gradle
#        uses: gradle/actions/setup-gradle@4
#        with:
#          cache-read-only: ${{ github.ref != 'refs/heads/main}}

      # Gradle 빌드
      - name: Build with Gradle
        # run: ./gradlew build -x test # 테스트 제외 빌드
        run: ./gradlew build  # 테스트 포함 빌드

      # 테스트 결과 업로드
      - name: Upload test results
        if: ${{ !cancelled() }} # 취소 시 skip으로 사용량 절약 가능
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: build/test-results/test/
          retention-days: 7 #  저장소 용량 관리 주기

  # frontend job (병렬 실행)
  frontend:
    runs-on: ubuntu-22.04

    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies     # npm install보다 빠르고 안정적임
        run: npm ci

      - name: Build Frontend
        run: npm run build

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: frontend-dist
          path: frontend/dist/
          retention-days: 1
